<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvParser" class="ru.otus.spring01.service.CsvParserImpl"/>

    <bean id="messenger" class="ru.otus.spring01.controller.MessengerImpl"
          init-method="init"
          destroy-method="close"/>

    <bean id="teminal" class="ru.otus.spring01.service.TesterImpl">
        <constructor-arg name="parser" ref="csvParser"/>
        <constructor-arg name="messenger" ref="messenger"/>
    </bean>
</beans>
